
//===============================================================================
// VARIABLES
//===============================================================================
$main: #00001E;
$lmain: #00002D;

$offmain: #140049;

$blue: #4252B8;
$green: #428FB8;


$short: 0.3s;
$long: 0.85s;
$vLong: 1.4s;


//===============================================================================
// BASICS
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}


