
//===============================================================================
// VARIABLES
//===============================================================================
$dblue: #1e5061;
$green: #669924;
$earth: #221000;
$mud: #662b00;
$lblue: #336699;

$sowIn: #1E5061;
$sowOut: #1E8683;
$harvest: #669924;


$short: 0.3s;
$long: 0.85s;
$vLong: 1.4s;


//===============================================================================
// BASICS
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}


