/* line 5, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 12, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
body {
  margin: 0; }

/* line 31, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 40, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/* line 47, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 55, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
[hidden], template {
  display: none; }

/* line 63, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
a {
  background: transparent; }

/* line 69, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* line 77, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 83, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
b, strong {
  font-weight: bold; }

/* line 88, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
dfn {
  font-style: italic; }

/* line 93, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 99, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 105, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
small {
  font-size: 80%; }

/* line 111, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 118, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
sup {
  top: -0.5em; }

/* line 122, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 130, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
img {
  border: 0; }

/* line 135, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 143, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
figure {
  margin: 1em 40px; }

/* line 148, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 155, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
pre {
  overflow: auto; }

/* line 163, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 182, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 189, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
button {
  overflow: visible; }

/* line 198, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
button, select {
  text-transform: none; }

/* line 208, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/* line 215, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 221, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 228, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
input {
  line-height: normal; }

/* line 238, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

/* line 247, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 253, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 263, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 268, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 276, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0; }

/* line 282, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
textarea {
  overflow: auto; }

/* line 288, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
optgroup {
  font-weight: bold; }

/* line 296, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 302, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_normalize.scss */
td, th {
  padding: 0; }

/* line 25, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_variables.scss */
*, *::before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

/* line 31, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/_variables.scss */
ul {
  padding: 0;
  list-style: none; }

/* line 17, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
html, body {
  font-family: 'futura light', 'future', helvetica, arial, sans-serif;
  font-size: 14px;
  background-color: #00001E;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 25, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* line 29, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
input {
  line-height: normal;
  background: none;
  border: none;
  border-bottom: solid 1px #4252B8;
  width: 200px;
  margin: auto;
  color: #4252B8;
  font-weight: 100;
  text-transform: uppercase; }

/* line 41, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
.bg-lmain {
  background-color: #00002D; }

/* line 45, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
.login-btn {
  width: 150px;
  height: 61px;
  position: absolute;
  right: 0;
  top: 50%;
  background: #4252B8;
  -webkit-transition: all 0.85s;
  transition: all 0.85s; }
  /* line 55, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
  .login-btn::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: solid 2px #00001E;
    border-left: solid 2px #00001E;
    margin-left: 20px;
    margin-top: 20px;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  /* line 69, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
  .login-btn:hover {
    background: #428F88; }
    /* line 72, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
    .login-btn:hover::after {
      margin-left: 50px; }

/* line 80, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
.login-holder {
  width: 100%;
  position: relative; }

/* line 85, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
.login-form {
  width: 200px;
  display: block;
  margin: auto; }
  /* line 90, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
  .login-form input {
    padding-top: 37px;
    padding-bottom: 10px;
    font-size: 12px; }
  /* line 96, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
  .login-form ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #4252B8; }
    /* line 99, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
    .login-form ::-webkit-input-placeholder ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #4252B8;
      opacity: 1; }

/* line 107, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
.login-logo {
  display: block;
  margin: auto;
  width: 100px;
  margin-top: 25%;
  margin-bottom: 40px; }

/* line 116, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
.data-header {
  width: 100%;
  float: left; }
  /* line 120, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
  .data-header img {
    width: 100%;
    border-bottom: solid 1px #4252B8; }

/* line 126, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
.data-all {
  width: 100%;
  height: 95%;
  float: left;
  overflow: scroll; }
  /* line 132, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
  .data-all p {
    margin-top: 0;
    margin-bottom: 0; }

/* line 138, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
.data-row {
  width: 100%;
  border-bottom: solid 1px #140049;
  height: 50px;
  float: left;
  color: #4252B8;
  padding-top: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  /* line 148, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
  .data-row p {
    margin-top: 9px; }
  /* line 152, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
  .data-row:hover {
    background: rgba(66, 82, 184, 0.2); }

/* line 157, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
.data-gender {
  width: 26px;
  height: 30px;
  float: left;
  margin-left: 9%; }

/* line 164, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
.data-grade {
  width: 75px;
  height: 30px;
  float: left;
  margin-left: 6.5%; }

/* line 171, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
.data-username {
  width: 10%;
  float: left;
  margin-left: 10%; }

/* line 177, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
.data-location {
  width: 20%;
  float: left;
  margin-left: 7%; }

/* line 183, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
.data-contact {
  width: 20%;
  float: left;
  margin-left: 4%; }

/* line 189, /Users/BIT/Documents/Design/Repos/new-breed/src/sass/styles.scss */
.no-scroll {
  height: 100%;
  overflow: hidden; }
